<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>CSVReadServlet</servlet-name>
        <servlet-class>servlets.CSVReadServlet</servlet-class>
    </servlet>
    <!--<servlet>-->
        <!--<servlet-name>GetAllServlet</servlet-name>-->
        <!--<servlet-class>servlets.GetAllServlet</servlet-class>-->
    <!--</servlet>-->
    <!--<servlet-mapping>-->
        <!--<servlet-name>GetAllServlet</servlet-name>-->
        <!--<url-pattern>/show</url-pattern>-->
    <!--</servlet-mapping>-->
    <servlet>
        <servlet-name>ImportDataServlet</servlet-name>
        <servlet-class>servlets.ImportDataServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CSVReadServlet</servlet-name>
        <url-pattern>/csv</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
    <servlet-mapping>
        <servlet-name>ImportDataServlet</servlet-name>
        <url-pattern>/import</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <!--<context-param>-->
        <!--<param-name>BaseUrl</param-name>-->
        <!--<param-value>http://localhost:8084/Sintra/</param-value>-->
    <!--</context-param>-->
</web-app>
